html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	height: 500px;
	font-size: 18px;
	
	/* HEIGHT AND FONT-SIZE CHANGES ARE MINE */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

* {
	box-sizing: border-box;
}

header {
	background-color: #17180d;
	padding: 10px;
	text-align: center;
}

header span {
	color: #c8b131;
	font-size: 1.5em;
}

header img {
	height: 50px;
}

nav ul li {
	margin-top: 10px;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

nav ul li a {
	text-decoration: none;
	color: #524709;
	text-align: center;
}

section {
	margin-top: 50px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

section .p-different {
	margin-top: 10px;
	text-align: justify;
	font-style: italic;
	background-color: #f0dd73;
	padding: 20px;
	color: #b66015ef;
}

section img {
	height: 250px;
}

section div.hero-description {
	width: 50%;
	padding: 40px;
	line-height: 1.3em;
	color: #17180d;
}

section div.hero-description h1 {
	margin-bottom: 10px;
}

section > div {
	padding: 10px;
}

footer {
	width: 100%;
	margin-top: 50px;
	padding: 20px;
	background-color: #f0dd73;
	color: #17180d;
	height: 20vh;
	text-align: center;
}

footer div {
	padding-bottom: 10px;
}

footer div.bold {
	font-weight: bolder;
}

footer div.italic {
	font-style: italic;
}